<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <title></title>
    </head>
    <body>
        {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

        <h1>liste des todos : </h1>
        <ol class="list-group">
            {% for name,content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
            {% endfor %}
        </ol>
    </body>
</html>